@import '_setting.scss';

.column{
    flex: 0 0 auto;
    width: 300px;
    height: calc(100% - #{$gap});
    margin-left: $gap;

    > * {
      background-color: $bg-card-color;
      color: #333333;
      padding: 0 8px;
    }
    header{
      padding-left: $gap;
      height: 36px;
      line-height: $column-header-height;
      font-size: 16px;
      font-weight: bold;
     
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    .task-list{
      list-style: none;
      padding: 0;
      margin: 0;
      max-height: calc(100% - #{$column-header-height} - #{$column-footer-height});
      
      overflow-y: auto;
      &::-webkit-scrollbar{
        -webkit-appearance: none;
      }
      &::-webkit-scrollbar:vertical{
        width: 11px;
      }
      &::-webkit-scrollbar-thumb{
        background-color: darken($bg-card-color, 15);
        border-right: 5px solid $bg-card-color;

      }
     
    }
    footer{
      padding-left: $gap;
      height: $column-footer-height;
      line-height: $column-footer-height;
      font-size: 16px;
    
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }