@import '_setting.scss';
 .board-content{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    height: $board-content-height;
    margin: 10px 0;

    &::-webkit-scrollbar{
      -webkit-appearance: none;
    }
    &::-webkit-scrollbar:horizontal{
      height: 11px;
    }
    &::-webkit-scrollbar-thumb{
      background-color: rgba(255,255,255 , 0.24);
      border-right: 5px solid $bg-card-color;
    }
    .column-drop-preview {
      background-color: rgba(150, 150, 200, 0.1);
      border: 1px dashed #abc;
      margin: 5px 45px 5px 5px;
    }
    .board-actions{
    width: 250px;
    height: 40px;
    padding-left: 10px;
    border-radius: 5px;

    display: flex;
    align-items: center;
    background-color: $bg-card-color;
    cursor: pointer;

    &:hover{
        background-color: #92a6f7;
        transition: 0.3s;
    }
    }
  }