//  color 
$primary-color: #0065ff;
$header-color: #026aa7;
$bg-card-color: #ebecf0;
// font
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
//  size
$gap: 10px;
$column-header-height: 46px;
$column-footer-height: 46px;
$cart-item-radius: 3px;

// main
body {
  margin: 0;
  font-size: 14px;
  line-height: 1.3em;
  font-family:  'Source Sans Pro', sans-serif;
}

.trello{
  height: 100vh;
  display: grid;
  grid-template-rows: 40px 50px 1fr;
  background-color: $primary-color; 

  .navbar{
    padding-left: $gap;
    display: flex;
    align-items: center;

    &.header {
      background-color: $header-color;
      font-size: 15px;
    }
    &.board{
      background-color: $header-color;
      font-size: 14px;
    }
  }
  .board-columns{
    display: flex;
    overflow-x: auto;

    &::-webkit-scrollbar{
      -webkit-appearance: none;
    }
    &::-webkit-scrollbar:horizontal{
      height: 11px;
    }
    &::-webkit-scrollbar-thumb{
      background-color: rgba(255,255,255 , 0.24);
      border-right: 5px solid $bg-card-color;
    }

    .column{
      flex: 0 0 auto;
      width: 300px;
      height: calc(100% - #{$gap});
      margin-left: $gap;

      > * {
        background-color: $bg-card-color;
        color: #333333;
        padding: 0 8px;
      }
      header{
        padding-left: $gap;
        height: 36px;
        line-height: $column-header-height;
        font-size: 16px;
        font-weight: bold;
       
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
      ul{
        list-style: none;
        padding: 0;
        margin: 0;
        max-height: calc(100% - #{$column-header-height} - #{$column-footer-height});
        
        overflow-y: auto;
        &::-webkit-scrollbar{
          -webkit-appearance: none;
        }
        &::-webkit-scrollbar:vertical{
          width: 11px;
        }
        &::-webkit-scrollbar-thumb{
          background-color: darken($bg-card-color, 15);
          border-right: 5px solid $bg-card-color;

        }
        li{
          background-color: white;
          padding: $gap;
          border-radius: $cart-item-radius;
          box-shadow: 0 1px 1px rgba(0,0,0,0.1);
          &:not(:last-child){
            margin-bottom: $gap;
          }

          img{
            display: block;
            width: calc(100% + 2 * #{$gap});
            margin: -$gap 0 $gap (-$gap);
            border-top-left-radius: $cart-item-radius;
            border-top-right-radius: $cart-item-radius;
          }
        }
      }
      footer{
        padding-left: $gap;
        height: $column-footer-height;
        line-height: $column-footer-height;
        font-size: 16px;
      
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }
}