@import '_setting';
//  color \

// main
body {
  margin: 0;
  font-size: 14px;
  line-height: 1.3em;
  font-family:  'Source Sans Pro', sans-serif;
}

.trello{
  overflow: hidden;
  background-color: $primary-color; 
}