@import '~bootstrap/scss/bootstrap';

@import '_setting';
//  color \

// main
body {
  margin: 0;
  font-size: 14px;
  line-height: 1.3em;
  font-family:  'Source Sans Pro', sans-serif;
}

.trello{
  overflow: hidden;
  background-color: $primary-color; 

  .icon{
    margin-right: 8px;
  }
  .ml-10{
    margin-left: 10px;
  }
  .w-250{
    max-width: 250px;
  }
}